{% if play == ' ' %}
  <form method="POST" class="square">
      {% csrf_token %}
      <input name="main_index" value="{{ board }}" type="hidden">
      <input name="sub_index" value="{{ index }}" type="hidden">
      <button type="submit" {% if game.active_index and game.active_index != board %}
              disabled
              {% elif game.winner %}
              disabled
      {% endif %}>{{ next_player }}</button>
  </form>
{% else %}
  <div class="square
              {% if play == 'X' and game.player_x == 'human' or play == 'O' and game.player_o == 'human' %}player-human
              {% else %}player-ai{% endif %}
              {% if last_main_index == current_main_index and last_sub_index == index %}rainbow-color{% endif %}">
      {{ play }}
  </div>
{% endif %}