{% extends 'base.html' %}

{% block body %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Se connecter</button>
</form>

<div style="margin-top: 15px; text-align: center;">
    <p>Don't have an account?</p>
    <a href="{% url 'signup' %}" class="button" style="display: inline-block; margin-bottom: 10px;">Create one</a>
    <br>
    <form method="get" action="{% url 'game:main_menu_guest' %}">
        <button type="submit" class="button">Jouer sans compte</button>
    </form>
</div>
{% endblock %}
