{% extends 'base.html' %}

{% block body %}
  <h2>Create Account</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      {{ form.username.label_tag }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <div style="color: red;">{{ error }}</div>
      {% endfor %}
    </div>

    <div>
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {% for error in form.password1.errors %}
        <div style="color: red;">{{ error }}</div>
      {% endfor %}
    </div>

    <div>
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {% for error in form.password2.errors %}
        <div style="color: red;">{{ error }}</div>
      {% endfor %}
    </div>

    <button type="submit" class="button">Sign Up</button>
    <a href="{% url 'login' %}" class="button">Login here</a>
  </form>
{% endblock %}
