<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Player</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<div class="tictactoe-container">
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
    <div class="tictactoe-image"></div>
</div>

<div class="menu-container">
    <h1>Choose Your Level</h1>
    <div class="menu-buttons">
        <a href="{% url 'game_board' %}" class="button">Noob</a>
        <a href="{% url 'game_board' %}" class="button">Good</a>
        <a href="{% url 'game_board' %}" class="button">Legend</a>
    </div>
    <a href="./main_menu.html" class="back-link">Back</a>
</div>
</body>
</html>