<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ultimate Tic-Tac-Toe</title>
    <script>
        const gameId = "{{ game.id }}";
        const playerSymbol = "{{ player }}";  // 'X' or 'O'

        const socket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/`);

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            
            if (data.winner) {
                alert("Winner: " + data.winner);
            } else {
                updateBoard(data.main_index, data.sub_index, data.player);
            }
        };

        function sendMove(mainIndex, subIndex) {
            socket.send(JSON.stringify({
                game_id: gameId,
                main_index: mainIndex,
                sub_index: subIndex,
                player: playerSymbol
            }));
        }

        function updateBoard(mainIndex, subIndex, player) {
            document.getElementById(`cell-${mainIndex}-${subIndex}`).innerText = player;
        }
    </script>
</head>
<body>
    <h1>Ultimate Tic-Tac-Toe</h1>
    <div id="board">
        {% for main_index in "012345678" %}
            <div class="main-board">
                {% for sub_index in "012345678" %}
                    <button id="cell-{{ main_index }}-{{ sub_index }}"
                            onclick="sendMove({{ main_index }}, {{ sub_index }})">
                        {{ game.sub_games.all|get_item:main_index|get_item:sub_index }}
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
