{% extends "base.html" %}
{% load static %}

{% block body%}
    <a href="{% url 'game:profile' %}" class="profile-icon">👤</a>
    <h1>TIC TAC TOE</h1>
    <a href="{% url 'game:index' %}" class="button" onclick="navigateWithSound(event, '{% url 'game:index' %}')">Single Player</a>
    <a href="{% url 'game:multiplayer' %}" class="button" onclick="navigateWithSound(event, '{% url 'game:multiplayer' %}')">MultiPlayer</a>
{% endblock %}

{% if user.is_authenticated %}
    <p>Bienvenue {{ user.username }}</p>
{% elif guest %}
    <p>Bienvenue invité !</p>
{% else %}
    <p>Bienvenue !</p>
{% endif %}
